.hidden {
  visibility: hidden;
}

/* home btns cointainer */
#home-btns{
  display: flex;
  justify-content: center;/* shared reduce to one class */
  /*background-color: #211c16; */
}

#results{
  display: grid;
  justify-content: center;/* shared reduce to one class */
}

#continue{
  text-align:center;
  animation: rainbow 2.5s linear;
	animation-iteration-count: infinite;
}


/* 
- instead of padding maybe just center content 
- for buttons to make them all aligned horizontally -- sticky bottom

*/
#cards, #qoute-parent {
  padding-top: 20px;
}

.card-header-title{
  background-color: gold;
}

.card-content { 
  background-color: cornsilk;
}
/* might look better without added colour */
.cards-outline {
  background-color: linen;
}



.incorrect {
  color: red;
}

.correct {
  color: green;
}

.border {
  border-bottom: thick solid #32a1ce;
}

/* animation to flash border */
.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    border: transparent;
  }
  100% {
    opacity: 1;
  }
}


@keyframes rainbow{
  100%,0%{
    color: rgb(255,0,0);
  }
  8%{
    color: rgb(255,127,0);
  }
  16%{
    color: rgb(255,255,0);
  }
  25%{
    color: rgb(127,255,0);
  }
  33%{
    color: rgb(0,255,0);
  }
  41%{
    color: rgb(0,255,127);
  }
  50%{
    color: rgb(0,255,255);
  }
  58%{
    color: rgb(0,127,255);
  }
  66%{
    color: rgb(0,0,255);
  }
  75%{
    color: rgb(127,0,255);
  }
  83%{
    color: rgb(255,0,255);
  }
  91%{
    color: rgb(255,0,127);
  }
}
