.hidden {
  visibility: hidden;
}

/* home btns cointainer */
#home-btns{
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}


/* 
- instead of padding maybe just center content 
- for buttons to make them all aligned horizontally -- sticky bottom

*/
#cards {
  padding-top: 20px;
}

.card-header-title{
  background-color: gold;
}

.card-content { 
  background-color: cornsilk;
}

.cards-outline {
  background-color: linen;
}



.incorrect {
  color: red;
}

.correct {
  color: green;
}

.border {
  border-bottom: thick solid #32a1ce;
}

/* animation to flash border */
.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    border: transparent;
  }
  100% {
    opacity: 1;
  }
}
